ul {
  list-style-type: none;
  padding: 0;
  margin: 0px 0px;
  width: 50%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

li {
  font-size: 1.2em;
}

.group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group--title {
  font-size: 1.2em;
}

.task {
  font-size: 2em;
}