.room {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 700px;
}

.top-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 60%;
  width: 100%;
}


form {
  margin-top: auto;
}
